<!DOCTYPE html>
<html>
	<head>
		<title>FTFF Winnings Calculator</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="<%= root %>/">Home</a> |
			<a href="<%= root %>/auth/yahoo">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="<%= root %>/">Home</a> |
			<a href="<%= root %>/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
